body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Arial",sans-serif;
}
.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.settings {
    position: absolute;
    left: 0px;
    width: 20px;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.25);
    opacity: 0;
    transition: opacity, width 200ms;
    font-size: 0.9rem;
}
.settings:hover {
    width: 90vw;
    opacity: 1;
    transition: opacity, width 200ms;
}
.sportsList {
    width: 20vw;
    float: left;
}
.sportsList p,
.champsList p {
    display: block;
    margin: 1px 0px 1px 12px;
    padding: 4px;
    border-bottom: 1px solid #147bd1;
    border-left: 4px solid transparent;
    transition: .5s;
}
.sportsList p.selected,
.champsList p.selected {
    border-left: 4px solid #d22630;
}
.event {
  cursor: pointer;
}
.event:hover {
  text-decoration: underline;
}
.eventsList, .champsList {
  display: block;
  position: relative;
  width: 20vw;
  height: calc(100% - 95px) ;
  float: left;
  text-align: left;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
}
.eventDetails {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}
.eventDetails .logo-top {
    height: 45px;
    float: right;
}
.eventDetails .heading {
    font-family: "Social Gothic", sans-serif;
    font-size: 48px;
    line-height: 50px;
    color: rgb(210,38,48);
    padding: 20px 20px 0px;
    margin: 0px;
    border-bottom: 3px solid rgb(210,38,48);
}
.eventDetails .heading span:nth-child(2) {
    color: rgb(29,49,145);
}
.screenLogo {
    background: white;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.screenLogo img {
    max-width: 50%;
    max-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.factor-block {
    display: inline-block;
    min-width: 168px;
}
.factor {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
}
.factor.up {
  animation-name: factorUp;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
.factor.down {
  animation-name: factorDown;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
@keyframes factorUp {
  0% {color: green}
  80% {color: green}
  100% {color: inherit}
}

@keyframes factorDown {
  0% {color: red}
  80% {color: red}
  100% {color: inherit}
}
.feed-wrapper {
    padding-left: 20px;
}
.feed {
    clear: both;
    padding-top: 20px;
}

.event-heading {
    height: 60px;
    margin: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    background: #e0e0e0;
}
.event-heading .start-time
{
    display: inline-block;
    margin: 15px;
}
.event-heading .name {
    display: inline-block;
    margin-left: 0px;
    margin-right: 15px;
    font-weight: 600;
}
.event-heading .passed-time {
    display: inline-block;
    margin: 15px;
}
.event-heading .score-details{
    display: inline-block;
    float: right;
    margin: 15px 0px;
    font-size: 18px;
}
.event-heading .score-total {
    display: inline-block;
    float: right;
    color: #ffffff;
    background: rgb(20,123,209);
    width: 70px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.event-subheading {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.stake-part-heading {
    border-bottom: 1px solid rgb(210,38,48);
    margin: 0px;
    font-size: 24px;
    font-weight: normal;
}
.dev-code {
    color: #a8a8a8;
}
.full-block {
    clear: both;
}
.short-block {
    float: left;
}
.full-block,
.short-block {
    overflow: hidden;
    font-size: 14px;
}
.factor-name {
    color: rgba(0,0,0,0.75);
}
.factor-block-heading {
    font-size: 16px;
}
.clearing {
    height: 24px;
    clear: both;
}
.type-settings {
    height: 60px;
}
.type-switch {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    /*font-family: "Social Gothic", sans-serif;*/
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: #147bd1;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
.type-switch:hover {
    transform: scale(1.1);
}
.type-switch.active {
    background-color: rgb(210,38,48);
}
.top-bar .dev-code {
    position: absolute;
}
.top-bar {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 200px;
    overflow: hidden;
}
.feed-wrapper {
    position: absolute;
    top: 200px;
    width: 100%;
    height: calc(100vh - 200px);
    overflow-y: auto;
}